.list-compan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #737373;
    border-bottom: 1px solid #737373;
    padding: 70px 0;
    margin: 60px 0;
}

.list-compan__link {
    display: flex;
    justify-content: center;
    flex-basis: 70px;
}

@media (max-width: 680px) {
    .wrapper-list {
        padding: 0;
    }
    .list-compan {
        flex-wrap: wrap;
        gap: 40px 10px;
        margin:0;
        margin-top: 30px;
    }

    .list-compan__link {
        flex-grow: 1;
        align-self: center;
    }
}

.features {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
    font-size: 16px;
    line-height: 24px;
}

.features__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features__h2 {
    font-size: 3em;
}

.features__p {
    font-size: 1em;
}

.features__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features__block {
    display: flex;
    flex-basis: 370px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
    background: #fff;
    border: 1px solid var(--color_Glight);
    border-radius: 15px;
    gap: 30px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
}

.features__icon {
    width: 82px;
}
.features__name{
    font-size: 2em;
}
.features__link{
    color: var(--color_Gdark);
}
.features__link:hover{
    text-decoration: underline;
}
@media (max-width: 960px) {
    .features__blocks {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 680px) {
    .features__blocks {
        gap: 30px;
    }
}