:root {
    --color_Gdark: #009379;
    --color_Glight: #E5F4F2;
    --color_bg: #F8F9FF;
    --color_text: #2D2D2D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}